
<div id="scroller" class="usersBooks">
	<ul id="booklist">
		{{#each this}}
		<li data-id="{{objectId}}" class="bookItem">
			{{#if cover_image}}
			<img data-original="{{cover_image}}" class="lazy">
			{{else}}
			<div class="no-art">
				<div class="no-icon"></div>
			</div>
			{{/if}}
			<div class="book-meta">
				<h2 class="truncate-two">{{title}}</h2>
				<h3 class="truncate">{{author}}</h3>
				<p>{{quantity_available}} Available</p>
			</div>
		</li>
		{{/each}}
	</ul>
</div> {{!-- /#scroller --}}