
<div id="scroller" class="usersBooks">
	{{#if this}}
	<ul id="booklist">
		{{#each this}}
		<li data-id="{{objectId}}" class="bookItem">
			{{#if cover_image}}
			<img data-original="{{cover_image}}" class="lazy">
			{{else}}
			<div class="no-art">
				<div class="no-icon"></div>
			</div>
			{{/if}}
			<div class="book-meta">
				<h2 class="truncate-two">{{title}}</h2>
				<h3 class="truncate">{{author}}</h3>
				{{#if quantity_available}}
				<p>{{quantity_available}} Available</p>
				{{/if}}
			</div>
		</li>
		{{/each}}
	</ul>
	{{else}}
	<h2>No Books</h2>
	{{/if}}
</div> {{!-- /#scroller --}}