
<div id="header">
  <div class="back">Books</div>
  <h1>Book Detail</h1>
</div>

<div id="wrapper">
  <div id="scroller" class="add-book">

  	{{#each this}}
	    <div class="title-art">
	    	{{#if cover_image}}
	      	<img src="{{cover_image}}">
	      {{else}}
	      	<div class="no-icon"></div>
	      {{/if}}

	      <h2>{{title}}</h2>
	      <h3>{{author}}</h3>
				<h4>ISBN: {{ISBN}}</h4>
				<div class="availables">
					<span id="totalBooks">{{quantity_total}} Total</span>
					<em>/</em>
					<span id="availableBooks">{{quantity_available}} Available</span>
				</div>
				<div class="clearfix"></div>
	    </div>
	    <div id="checkout-list">
				<h5>Copies loaned to:</h5>
		  	<ul>
		    	{{#each studentList}}
		    		<li class="first-name">{{Name}}</li>
					{{/each}}
		  	</ul>
			</div>

	    <div id="checkout-book" class="ab-btn button primary-fill">Check Out</div>
	    <div id="checkin-book" class="ab-btn button secondary">Check In</div>
	    <div id="edit-book" class="ab-btn button primary">Edit Quantity</div>
	    <div id="remove-book" class="ab-btn button secondary-fill">Remove Book</div>
    {{/each}}

  </div> {{!-- /#scroller --}}

</div> {{!-- /#wrapper --}}

