<div id="header">
  <div class="back">Books</div>
  <h1>Check In</h1>
</div>
<style type="text/css">
.selected {
  background-color:#0a5fff;
  color: white;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding-left:10px;
}
.deselected {
  background-color:white!important;
  color:black!important;
}
</style>

<div class="check">
	
	{{#each this}}
	{{#if cover_image}}

	<div class="title-art">
		<img src="{{cover_image}}">
	</div>
	{{else}}
	<span>No Cover Found</span>
	{{/if}}

	<div class="title-info">
		<h2>{{title}}</h2>
		<h3>{{author}}</h3>

		<h4>ISBN: {{ISBN}}</h4>
		<p>{{quantity_available}} Available</p>
		<div id="checkIn" class="check-btn button disabled">Check In</div> {{!-- on name select remove .disabled and add .primary-fill --}}
	</div>
	{{/each}}
	
    <div class="clearfix"></div>
</div>

<div class="name-header">Pick your name</div>

<div id="wrapper" class="check-wrap">
<div id="scroller" class="students">
    
    
  </div> {{!-- /#scroller --}}
</div> {{!-- /#wrapper --}}

